html * {
  -webkit-font-smoothing: antialiased;
}

body {
  background: url("../../images/bg.jpg");
  background-size: cover;
}

#containerdiv {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background: #fff;
  color: #555;
  padding: 10px 0 !important;
  margin-bottom: 20px;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15) !important;
}

.navbar.bg-primary {
  color: #fff;
  background: #9c27b0 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 12px -5px rgba(156, 39, 176, 0.46);
}

.navbar.navbar-transparent .navbar-brand {
  color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  position: relative;
  color: inherit;
  padding: 15px;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
}

.navbar .navbar-nav .nav-item .nav-link i {
  font-size: 20px;
  margin-top: -7px;
  top: 5px;
  position: relative;
  margin-right: 3px;
}

.navbar .navbar-nav .nav-item .nav-link i.fa {
  margin-top: -4px;
  top: 2px;
}

.navbar .navbar-nav .nav-item.active .nav-link {
  background-color: hsla(0, 0%, 100%, .1);
  border-radius: 4px;
}

.navbar .navbar-brand {
  color: #555;
  font-weight: 300;
  font-size: 18px;
}
